<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; width: 100%; height: 100%; overflow: auto; background-color: rgb(249, 249, 249);"><canvas width="800" height="600" tabindex="-1" style="margin: auto; outline: none; flex-shrink: 0; width: 369px; height: 277px; cursor: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaUlEQVQ4T6XTUQ7AIAgDUHr/Q2NqtmVTpgX98YtnMC3c3c3MAIB39oAAZ+lUkAfgyxXkA1SQCcgiIZBBfgEVWQIKsgV2yPIPxlBFOYly0OfUTExJvJOpIh14d6EEjLtlkLCBx8C1v1TzBqVOfBGlLAa6AAAAAElFTkSuQmCC&quot;) 0 0, default;">
    </canvas></div>
    

    {% include 'index2.html' %}

</body>
</html>


<style>
 
</style>